/* mikehorn.css */

html{
	height: 100%;
}

.default-body{
	background: url("images/Elephant in water.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	padding-top: 15%;
}

#splash-content{
	text-align: right;
	padding-top: 10%;
	padding-right: 5%;
}

#child-content{
	text-align: centre;
	/*padding-top: 15%;*/	
}

#wedding-body{
	background: url("images/invite background.jpeg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
}

.about-block-1 .col-md{
	height: 500px;
	padding-top: 10%;
}

.nav-hover{
	color: #FFFFFF;
}

.nav-before{
	color: #9D9D9D;
}

.nav-link{
	color: white !important;
}

.gallery-card{
	width: 18rem;
}

.nav-link .active{
	color: grey;
}

img{
	width: 10pc;
}

.home-link{
	color: white;
}

.content-lg{
	background-color: #dcdce3;
	padding-top: 7%;
}

.whitebox{
	background-color: #FFFFFF;
}

.bodytext{
	padding-bottom: 1em;
}